@keyframes colorChange {
  0% {background-position: 100%;}
  100% {background-position: 0%;}
}

.yukiyoutube {
  display: inline-block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(45deg, #7e6b37 0%, #e8dbb8 50%, #eec148 90%);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: gradationTextAnimation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes gradationTextAnimation{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.yukiyoutube {
    font-weight: bold;
}
.yukiyoutube {
    position: fixed;
    top: 0;
    left: 0.5;
}
.yukiyoutube {
       z-index: 9998; /* 一般的には大きな値を設定して他の要素より前面にする */
}
