<!DOCTYPE html>
<html>
<head>
    <title>読み込み中</title>
    
</head>
<body>
<h1>インスタンス(YUKIYOUTUBE)作成方法</h1><br>
<p>全て自己責任です。</p>
<li><p>１：renderのアカウントを作成(ログイン)</p></li>
<li><p>２：blueprintをクリック</p></li>
<li><p>３：New Blueprint Instanceをクリック</p></li>
<li><p>４：Public Git repositoryの欄にGithubのURLをペースト、Continueを押す(GithubのURLは一番下にあります)</p></li>
<li><p>５：適当な名前を付けてCreate New ResourcesもしくはApplyをクリック</p></li>
<li><p>６：Dashboardに戻り作成したものをクリック、左上に表示されているURLが作成したインスタンスです</li><br>
<br><p>Github URL一覧</p><br>
<li><p>https://github.com/Skype-GitHub/YUKI-2 このインスタンス</p></li>
<li><p>https://github.com/mochidukiyukimi/Yuki-Youtube-slim 公式　認証ページがブログ</p></li>
<li><p>https://github.com/mochidukiyukimi/yuki-youtube-slim-2 公式　認証ページが違う</p></li>

</body>
</html>
