<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Google 翻訳</title>
    <link rel="icon" type="image/png" href="https://ssl.gstatic.com/translate/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>alert('YUKI YOUTUBE New!')</script>

    
</head>
    
    
    <p>Sumikaze改造版(非公式)  V:1.5</p>
    
    
    <body>
<button id="btn">掲示板</button>
<script>
var btn = document.getElementById('btn');

btn.addEventListener('click', function() {
    var result = window.confirm('掲示板に行く前に!\nRevoltはどうですか？\nRevolt:OK  掲示板:キャンセル')
    
    if( result ) {
        location.href="https://rvlt.gg/VRmct1HD"
        
    }
    else {
        location.href="/bbs"
        
    }
})
</script>
</body>

    <br>
    <a href="
https://www.seaart.ai/s/26PmeH" >探してたらたまたま見つけた画像生成AI</a>
    <p>アクセス数</p>
<!-- FC2カウンター ここから -->
<script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=89505886"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=89505886" /></noscript>
<!-- FC2カウンター ここまで -->
   <br><!-- FC2カウンター ここから -->
同時接続数:<script language="javascript" type="text/javascript" src="//counter1.fc2.com/views.php?id=89505886"></script><noscript><img src="//counter1.fc2.com/counter_now.php?id=89505886" /></noscript>
<!-- FC2カウンター ここまで --> 
    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">Yuki Youtube</h1>
        </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" autofocus="" name="q" placeholder="検索" title="検索" value="">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4"></div>
            
        </div>
        <script>$('#searchbox').autocomplete({
            source: function (request, response) {
                {
            var url = "/suggest?keyword="+ request.term
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onload = function() {
                response(JSON.parse(xhr.responseText));
            }
            xhr.send();
        }},delay:300});</script>
    </body>
    <script async src="https://cse.google.com/cse.js?cx=9638f865d695b4d7e">
</script>
<div class="gcse-search"></div>
</html>
